* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  max-width: 250px;
  height: auto;
  border: 2px solid hsl(0, 0%, 76%);
  display: inline-block;
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.card .card-image {
  width: 150px;
  border-radius: 50%;
}

.card .card-title, .card-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* External CSS */

.button {
  margin: 10px;
  padding: 5px 10px;
  background-color: pink;
}